@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
.logo{
    position: absolute;
    left: 39px;
    top: 30px;
    
}
.center{
    margin: auto;
    transform: translate(0,50%);
    animation: appear 0.6s;
}
.title-section{
    display: flex;
}
.log img{
    transform: translate(0,40%);
    padding-right: 20px;
}
@keyframes appear {
    0%{
        transform: translate(0,100%);
        opacity: 0;
    }
    50%{
        opacity: 0.2;
    }
    70%{
        opacity: 0.4;
    }
    100%{
        transform: translate(0,50%);
        opacity: 1;
    }
}
.center-container{
    width: 420px;
    height: 440px;
    background: #FFFFFF;
    border-radius: 0px 0px 27px 27px;
    border: none;
    display: flex;
}
.center-content{
    height: 400px;
    width: fit-content;
    margin: auto;
    padding-top: 20px;

}
.tabbar-options{
    display: flex;
    margin: 0;
}
.signin, .signup{
    width: 420px;
    height: 41px;
    margin: 0;
    background: #FFFFFF;
    border: none;
    border-radius: 27px 27px 0px 0px;    
    text-align: center;
    line-height: 40px;
    font-family: Quicksand ;
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.2s;
}
.signup{
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 0px 27px 0px 0px; 
}
#signin{
    color: #000000;
}
#signup{
    color: #fff;
}
.signup:hover{
    
}
.title-container{
    font-family: Quicksand;
    text-align: center;
    padding-top: 20px;
}

.title{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.sub-title{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.input-wrapper {
    font-family: Quicksand;
    position: relative;
    margin-top: 30px;
}
  
input {
    font-family: Quicksand;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    position: relative;
    width: 300px;
    margin-top: 10px;
    line-height: 6ex;
    padding-left: 20px ;
    outline: none;
    color: #3E3E3E;
    font-size: 14px;
}
  
label {
    position: absolute;
    top: 0.2ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;
    font-size: 12px;
}
.forgot-password{
    font-family: Quicksand;
    text-align: right;
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;   
    cursor: pointer; 
}
.submit{
    text-align: center;
    margin-top: 30px;
}

#submit{
    border: solid 1px black;
    width: 320px;
    height: 40px;
    background: #000000;
    border-radius: 6px;
    color: #fff;
    font-family: Quicksand;
    font-size:18px;
    font-weight: 500;
    cursor: pointer;
}